.bl-form-wrapper input[type="checkbox"] {
	width: auto;
}

button.bl-client-submit-button, button.bl-caregiver-submit-button {
  color: #46cece !important;
}

button.bl-client-submit-button::after, button.bl-caregiver-submit-button::after {  
  color: #ef9136 !important;
}

.bl-input-tc-togge {
  float: left !important;
  color: #f00;
}

.bl-input-error {
  border: 1px solid #f00 !important;
}

.bl-message {
  color: #111;
  display: block;
  position: relative;
  background: #eee;
  padding: 8px;
  border-radius: 4px;
}

.bl-success-message {
  color: green;
  display: none;
}

.bl-progress-message {
  color: blue;
  display: none;
}

.bl-error-message, .bl-error-email-exists-message {
  color: red;
  display: none;
}