<div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_container clearfix  et_pb_contact_form_0 bl-form-wrapper" data-form_unique_num="0">
  <div class="et_pb_contact">
    <form class="bl-form et_pb_contact_form clearfix">
      <p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_half"><label for="et_pb_contact_first_name_1" class="et_pb_contact_form_label">First Name</label><input type="text" id="et_pb_contact_first_name_1" class="input bl-input-first-name" placeholder="First Name" name="et_pb_contact_first_name_1" data-required_mark="required"
          data-field_type="input" data-original_id="name"></p>
      <p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half"><label for="et_pb_contact_last_name_1" class="et_pb_contact_form_label">Last Name</label><input type="text" id="et_pb_contact_last_name_1" class="input bl-input-last-name" placeholder="Last Name" name="et_pb_contact_last_name_1" data-required_mark="required"
          data-field_type="input" data-original_id="name"></p>
      <p class="et_pb_contact_field et_pb_contact_field_2"><label for="et_pb_contact_email_1" class="et_pb_contact_form_label">Email Address</label><input type="text" id="et_pb_contact_email_1" class="input bl-input-email" placeholder="Email Address" name="et_pb_contact_email_1" data-required_mark="required"
          data-field_type="email" data-original_id="email"></p>
      <p class="et_pb_contact_field et_pb_contact_field_3 et_pb_contact_field_half"> <label for="et_pb_contact_phone_1" class="et_pb_contact_form_label">Phone</label> <input type="text" id="et_pb_contact_phone_1" class="input bl-input-phone" placeholder="Phone" name="et_pb_contact_phone_1" data-required_mark="required" data-field_type="phone"
          data-original_id="phone"></p>
      <p class="et_pb_contact_field et_pb_contact_field_4 et_pb_contact_field_half"><label for="et_pb_contact_extension_1" class="et_pb_contact_form_label">Extension</label><input type="text" id="et_pb_contact_extension_1" class="input bl-input-extension" placeholder="Extension" name="et_pb_contact_extension_1" data-field_type="input"
          data-original_id="name"></p>
      <p class="et_pb_contact_field et_pb_contact_field_5"> <label for="bl-input-tc-toggle"> <input id="bl-input-tc-toggle" type="checkbox" name="bl-input-tc-toggle" class="bl-input-tc-toggle">  By signing up, you agree to our Terms and Conditions and Privacy Policy. </label>        </p>
    
<div class="bl-message bl-success-message">Registration successfull! Check your email.</div>
<div class="bl-message bl-progress-message">Registration in progress ... </div>
<div class="bl-message bl-error-message">Registration Failed! Retry?</div>
<div class="bl-message bl-error-email-exists-message">An account with this email address already exists. <br> <a href="https://app-test-bloom.alaunus.com/#/login"> Login </a> to access the account <br> <a href="https://app-test-bloom.alaunus.com/#/recoverpassword"> Click here </a> to recover the account.
  </div>
<div class="bl-message bl-resend-email"> Email already Regstered. <a onclick="resendEmail()"> Resend Welcome email </a></div>
<div class="et_contact_bottom_container"> <button class="bl-client-submit-button et_pb_contact_submit et_pb_button">Register</button> </div>
</form>
</div>
</div>